!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    .note_content
      %p
        WRITE BELOW THIS LINE
        %br/
        Dear #{@participant.first_name.titleize}
        
      = hidden_field_tag 'notification_type', 'notes'
      = hidden_field_tag 'owner_id', @participant.id
      %p
        #{@note_content.owner.full_name.titleize} has shared a note with you through the DRIVE online tool.
      %p
        Here are the contents of the note, simply reply to this email to create a new note shared with the same participants.
      %p
        Note text:
      %p
        %blockquote
          #{@note_content.content}
          %br/
          %i 
            Note created #{@note_content.created_at.to_formatted_s(:long)}
      
      %p
        Thanks
        %br/
        DRIVE Support