!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    .note_content
      %h3= "Dear #{@participant.first_name.titleize}"
      = hidden_field_tag 'notification_type', 'notes'
      = hidden_field_tag 'owner_id', @participant.id
      %p
        Following are the contents of the note you have been tagged in:
      %p
        #{@note_content.content}
      %br/
      %p
        Kind Regards
      %p
        The DRIVE Programme Team