.row
  .col-md-12
    = link_to cohorts_path do
      %button.btn.btn_sign_in= t('cohort.btn.cohort_management')
    .pull-right
      %strong.dark-blue.edit_profile_link= "Filter by Cohort"
      .styled-select
        = select_tag "cohort", options_for_select(@cohorts),{:prompt => "Select Cohort", :onchange => 'javascript:void(0)'}
.row#filtered_result
  = render partial: "panel_container"
:javascript
$(function() {
  $("#cohort").on("change", function() {
    $.ajax
    ({
      dataType: 'script',
      type: 'GET',
      url: "/admins/dashboard/",
      data: {id: $('#cohort').val()}
    });
  });
});
