- text_field_class = 'col-md-12'
- create_view = @event.new_record?
- form_action = create_view ? events_path : event_path(@event)
- form_method = create_view ? :post : :put

= form_tag(form_action, method: form_method, class: 'form-horizontal', id: 'eventForm', multipart: true) do
  .row
    - # Left Panel (Behaviours)
    .col-xs-12.col-md-4
      .panel-padding
        %h4
          %strong.dark-blue= t('event.fields.behaviour')
        = render partial: 'behaviours/forms/check_box', locals: { behaviours: @behaviours, check_box_name: 'event[behaviours_events_attributes]', event: @event, selected_behaviours_ids: @event.behaviours.pluck(:id) }

    - # Middle Panel (event attrs)
    .col-xs-12.col-md-4
      .panel-padding
        %h4
          %strong.dark-blue= t('event.fields.title')
        = text_field_tag 'event[title]', @event.title, class: text_field_class
        .col-md-12.spacer15
        %h4
          %strong.dark-blue= t('event.fields.location')
        = text_field_tag 'event[location]', @event.location, class: text_field_class
        .col-md-12.spacer15
        %h4
          %strong.dark-blue= t('event.fields.date')
        = text_field_tag 'event[event_date]', @event.event_date, id: 'eventFormDatePicker', class: text_field_class
        .col-md-12.spacer15
        %h4
          %strong.dark-blue= t('event.fields.link')
        = text_field_tag 'event[link]', @event.link, class: text_field_class
        %h4
          %strong.dark-blue= t('event.fields.image')
        .row
          .col-md-4
            %img#previewEventImage
            - if image_present?(@event, 'image') && image_link_valid?(@event)
              = image_tag @event.image.url, class: 'image-thumb', id: 'existingEventImage'
          .col-md-8
            = file_field_tag 'event[image]', accept: 'image/png,image/gif,image/jpeg'

    - # Right Panel (Text are for Description)
    .col-xs-12.col-md-4
      .panel-padding
        %h4
          %strong.dark-blue= t('event.fields.description')
        = text_area_tag 'event[description]', @event.description, rows: 6, class: text_field_class

    .col-md-12.spacer40
    .pull-right
      = submit_tag(t('event.btn.save'), class: 'btn btn-sm submit-btn dark-blue-btn')
    .col-md-12.spacer30
