= form_tag(decide_event_form_action(@event), method: decide_event_form_method(@event), class: 'form-horizontal', id: 'eventForm', multipart: true) do
  = render partial: "shared/error_messages", locals: { target: @event }
  .row
    - # Left Panel (Behaviours)
    .col-xs-12.col-md-4
      .panel-padding.panel-padding-left
        %h4
          %strong.dark-blue= t('event.fields.behaviour')
        = render partial: 'behaviours/forms/check_box', locals: { behaviours: @behaviours, check_box_name: 'event[behaviours_events_attributes]', event: @event, selected_behaviours_ids: @event.behaviours.pluck(:id) }

    - # Middle Panel (event attrs)
    .col-xs-12.col-md-4
      .panel-padding
        %h4
          %strong.dark-blue= t('event.fields.title')
        = text_field_tag 'event[title]', @event.title, class: common_text_field_class
        .col-md-12.spacer15
        %h4
          %strong.dark-blue= t('event.fields.location')
        = text_field_tag 'event[location]', @event.location, class: common_text_field_class
        .col-md-12.spacer15
        %h4
          %strong.dark-blue= t('event.fields.date')
        = text_field_tag 'event[event_date]', formatted_date(@event.event_date), id: 'eventFormDatePicker', class: common_text_field_class
        .col-md-12.spacer15
        %h4
          %strong.dark-blue= t('event.fields.start_time')
        .bootstrap-timepicker
          = text_field_tag 'event[event_start_time]', @event.event_start_time.try(:strftime, '%T%:z'), id: 'timepicker1', class: common_text_field_class
        %h4
          %strong.dark-blue= t('event.fields.end_time')
        .bootstrap-timepicker
          = text_field_tag 'event[event_end_time]', @event.event_end_time.try(:strftime, '%T%:z'), id: 'timepicker2', class: common_text_field_class
        %h4
          %strong.dark-blue= t('event.fields.link')
        = text_field_tag 'event[link]', @event.link, class: common_text_field_class
        %h4
          %strong.dark-blue= t('event.fields.image')
        .row
          .col-md-12
            %img#previewEventImage
            - if @event.image.exists? && image_present?(@event, 'image') && image_link_valid?(@event)
              = image_tag @event.image.url, class: 'image-thumb', id: 'existingEventImage'
          .col-md-12
            %span.btn.btn_sign_in.btn-file
              = t('admin.participant.caption.button.choose_file')
              = file_field_tag 'event[image]', accept: 'image/png,image/gif,image/jpeg'

    - # Right Panel (Text are for Description)
    .col-xs-12.col-md-4
      .panel-padding
        %h4
          %strong.dark-blue= t('event.fields.description')
        = text_area_tag 'event[description]', @event.description, rows: 6, class: common_text_field_class, id: 'eventDescTextField', maxlength: event_description_length_limit
        .input-field-subtext#eventDescSubText
          #{find_field_length(@event.description)}/#{event_description_length_limit}
        .col-md-12.spacer40
        %h4
          %strong.dark-blue= t('event.fields.event_docs_description')
        %strong.dark-blue= t('event.fields.event_docs_file_size')
        - 4.times do |index|
          = render partial: 'events/event_documents',locals: { file: @event.event_files[index], index: index }
        .col-md-12.spacer40

    .col-md-12.spacer40
    .col-xs-12.col-md-12
      .pull-right.event_save_button_margin
        = submit_tag(t('event.btn.save'), class: 'btn btn-sm submit-btn dark-blue-btn', title: t('event.btn.save'))
    .col-md-12.spacer30