.rightsidebar
  .profilebox
    .profilepic
      - if current_participant.photo.exists?
        = image_tag (current_participant.photo.url(:medium))
      - else
        = image_tag 'silhouette.jpg'
    / %p.editimage
    /   = file_field_tag 'participants[photo]'
    %p.name
    %p
    %p
    %p
    %p.submit
      = link_to_submit do
        %i.icon-submit
        %span.logintext Submit
      = submit_tag(" ")
  .arriva
    - if browser.ios?
      = image_tag 'images/logo-arriva@2x.png', height: '39'
    - else
      = image_tag 'images/logo-arriva.png', height: '39'