.leftsidebar
  %ul
    %li
      = link_to participant_dashboard_path do
        %i.icon-home
        Home
    %li
      %a{:href => "#"}
        %i.icon-values
        Values / behaviours
    %li.active
      = link_to(participant_activities_path) do
        %i.icon-activities
        = t('admin.panel.titles.activities')
      %ul
        - Behaviour.all.order(:id).each do |behaviour|
          %li
            %span.label.leftsidebar_activity_label_font_size= behaviour.title
            %span.checkbox
              = check_box_tag 'behaviour', behaviour.id
    %li
      %a{href: participant_events_path}
        %i.icon-events
        Events
    %li
      %a{:href => "notes.html"}
        %i.icon-notes
        NOTES
    %li
      %a{:href => "#"}
        %i.icon-network
        My network
    %li.logout
      %a{:href => "index.html"}
        %i.icon-logout
        LOGOUT
