.rightsidebar
  .profilebox
    .profilepic
      - if current_participant.photo.exists?
        = image_tag (current_participant.photo.url(:medium))
      - else
        = image_tag 'silhouette.jpg'
    %p.name= current_participant.full_name
    %p= current_participant.job_title
    %p= get_division_name(current_participant.division)
  .yourlevel
    %ul
      %li.green Activities Summary
      - Behaviour.all.each do |behaviour|
        %li
          = behaviour.title
          %span.green= behaviour.total_activities_levels(current_participant)
  .arriva
    = image_tag 'images/logo-arriva@2x.png', height: '39'