- participant = @participant || Participant.new
- create_view = participant.new_record?
- form_url = create_view ? participant : update_participant_path
- submit_btn_caption = ( create_view ? t('admin.participant.caption.button.save_participant_only') : t('admin.participant.caption.button.update') )
- max_length_of_performance_summary = 250
= form_for participant, :url => form_url do |f|
  = render partial: 'shared/error_messages', locals: { target: f.object }
  = hidden_field_tag('id', participant[:id])
  .row
    .col-xs-4.col-md-4
      %h3.dark-blue
        %b= t('admin.participant.caption.profile')
      .form-group
        %label.common-font-color
          %b= t('admin.participant.caption.first_name')
        .input
          = f.text_field :first_name, class: 'form-control'
      .form-group
        %label.common-font-color
          %b= t('admin.participant.caption.last_name')
        .input
          = f.text_field :last_name, class: 'form-control'
      .form-group
        %label.common-font-color= t('admin.participant.caption.job_title')
        .input
          = f.text_field :job_title, class: 'form-control'
      .form-group
        %label.common-font-color= t('admin.participant.caption.division')
        %div
          = f.radio_button :division, '1'
          = label :division, 'Uk Bus'
          = f.radio_button :division, '2'
          = label :division, 'Uk Trains'
          = f.radio_button :division, '3'
          = label :division, 'Mainland Europe'
      .form-group
        %label.common-font-color= t('admin.participant.caption.year_started')
        .input
          = f.text_field :year_started, class: 'form-control', style: 'width: 28%;'
      .form-group
        %label.common-font-color= t('admin.participant.caption.email')
        .input
          = f.email_field :email, class: 'form-control'
      - if !params[:id].present?
        .form-group
          %label.common-font-color= t('admin.participant.caption.password')
          .input
            = f.password_field :password, class: 'form-control'
      .form-group
        %label.common-font-color= t('admin.participant.caption.photo')
        .spacer5.spacer-width
        %span.btn.btn_sign_in.btn-file
          = t('admin.participant.caption.button.choose_file')
          = f.file_field(:photo)
      - if @participant.photo.present?
        = image_tag(@participant.photo.url(:medium), id: 'preview_participant_photo')
        / .spacer5
        / .form-group
        /   %label.control-label.no-padding-right
        /     %img(src='' id='preview_participant_photo')
      .form-group
        %label.control-label.no-padding-right
          %img(src='' id='preview_participant_photo')

    .col-xs-1.col-md-1
    .col-xs-4.col-md-4
      %h3.dark-blue
        %b= t('admin.participant.caption.fit_plan_results')
      .col-xs-10.col-md-10
        .row
          %b.common-font-color= t('admin.participant.caption.behaviour')
      .col-xs-2.col-md-2
        %b.common-font-color.score_lbl_margin_left= t('admin.participant.caption.score')
      - Behaviour.all.each do |behaviour|
        - score = @participant.id.present? ? get_score_value(behaviour, @participant) : ''
        - score_id = score.present? ? score.id : ''
        - score_value = score.present? ? score.score : ''
        .row
          .col-xs-9.col-md-9
            .common-font-color
              = behaviour.title
          .col-xs-3.col-md-3
            = hidden_field_tag('participant[scores_attributes][][behaviour_id]', behaviour.id)
            = hidden_field_tag('participant[scores_attributes][][id]', score_id)
            = text_field_tag 'participant[scores_attributes][][score]', score_value, class: 'form-control score_text_box'
        .spacer5.spacer-width
      .row
        .col-xs-12.col-md-12
          .form-group
            %label.common-font-color
              %b= t('admin.participant.caption.performance_summary')
            = f.text_area(:performance_summary, rows: 7, cols: 10, class: 'col-xs-12 col-sm-12', id: 'participantperformanceSummaryInput', maxlength: max_length_of_performance_summary)
            .input-field-subtext#participantperformanceSummarySubText
              #{find_field_length(resource.performance_summary)}/#{max_length_of_performance_summary}
    .col-xs-3.col-md-3{style:'position: relative; height: 600px;'}
      = f.submit(submit_btn_caption, class: 'btn btn_sign_in pull_left', style: 'position: absolute; top: 92%; right: 0%; width: 72%;')

      %button.btn.btn_sign_in.pull_left{style: 'position: absolute; top: 98%; right: 0%;'}
        = t('admin.participant.caption.button.save_participant_&_send')
