.row.page-header-margin
  .col-xs-12.col-md-11
    %h2.dark-blue.pull-left.page-header
      %b= @participant.full_name.titleize
      .btn-group.pull-right.edit_profile_link
        = link_to t('common.caption.back'), show_participant_path(@participant), title: t('common.caption.back')
.row
  .col-xs-11
    %table.table.table-striped.table-bordered.table-hover{style: 'width: 50%;'}
      %thead
        %tr
          %td{style: 'width: 20%;'}= t('participant.participant_attachments.file_name')
      - if @attachments.present?
        = render :partial => 'attachments', collection: @attachments, as: :attachment
      - else
        %tr
          %td{colspan: 2}
            .text-center
              %h3
                = t('participant.participant_attachments.msg.no_files_found')