- division = get_division_name(@participant.division)
.row.page-header-margin
  .col-xs-12.col-md-11
    %h2.dark-blue.pull-left.page-header
      %b= @participant.full_name.titleize
      .btn-group.pull-right.edit_profile_link
        = link_to t('common.caption.edit'), edit_participant_path(@participant), title: t('common.caption.edit')
    %b.common-font-color= "Attached Files : #{@attachments_count}"

.row
  .col-xs-4.col-md-4
    %h3.dark-blue
      %b= t('admin.participant.caption.profile')
    .form-group
      %label.dark-blue= t('admin.participant.caption.job_title')
      .input
        %span.common-font-color= @participant.job_title
    .form-group
      %label.dark-blue= t('admin.participant.caption.division')
      .input
        %span.common-font-color= division
    .form-group
      %label.dark-blue= t('admin.participant.caption.year_started')
      .input
        %span.common-font-color= @participant.year_started
    .form-group
      %label.dark-blue= t('admin.participant.caption.email_without_note')
      .input
        %span.common-font-color= @participant.email
    .form-group
      %label.dark-blue= t('admin.participant.caption.photo')
      - if @participant.photo.present?
        .input
          = image_tag(@participant.photo.url(:medium))
      - else
        .input
          =image_tag('no_image.png')

  .col-xs-3.col-md-4
    %h3.dark-blue
      %b= t('admin.participant.caption.fit_plan_results')
    .col-xs-9.col-md-9
      .row
        %b.dark-blue= t('admin.participant.caption.behaviour')
    .col-xs-2.col-md-2
      %b.dark-blue Level
    - Behaviour.all.each do |behaviour|
      - score = @participant.id.present? ? get_score_value(behaviour, @participant) : ''
      .row
        .col-xs-9.col-md-9
          .common-font-color=behaviour.title
        .col-xs-1.col-md-1
          .light-blue= score.present? ? score.score : 0
      .spacer5.spacer-width
    .spacer65.spacer-width
  .col-xs-3.col-md-3{style:'position: relative; height: 590px;'}
    %h3.dark-blue
      %b= t('admin.participant.caption.performance_summary')
    .break-long-url
      %p.light-blue.center-justified= @participant.performance_summary
    .row
      = link_to(t('admin.participant.caption.button.view_activity'), overview_path(@participant) , class: 'btn btn_sign_in pull_left', style: 'position: absolute; top: 400px; right: 0%; width: 72%;', title: t('admin.participant.caption.button.view_activity'))
    .row
      - if @participant.active
        = link_to(t('admin.participant.caption.button.disable_account'), participant_deactivate_path(@participant) , class: 'btn btn_sign_in pull_left', style: 'position: absolute; top: 440px; right: 0%; width: 72%;', method: :put, title: t('admin.participant.caption.button.disable_account'))
      - else
        = link_to(t('admin.participant.caption.button.enable_account'), participant_activate_path(@participant) , class: 'btn btn_sign_in pull_left', style: 'position: absolute; top: 440px; right: 0%; width: 72%;', method: :put, title: t('admin.participant.caption.button.enable_account'))
    = form_tag(participants_resend_invitation_path) do
      = hidden_field_tag('id', @participant[:id])
      .row
      = submit_tag(t('admin.participant.caption.button.re_send_participant_invite'), class: 'btn btn_sign_in pull_left', style: 'position: absolute; top: 480px; right: 0%; width: 72%;', id: 'send_participant_invitation', title: t('admin.participant.caption.button.re_send_participant_invite'))
    .row
      = link_to(t('admin.participant.caption.button.done'), admin_dashboard_path, class: 'btn btn_sign_in pull_left', style: 'position: absolute; top: 520px; right: 0%; width: 72%;', title: t('admin.participant.caption.button.done'))
