= wicked_pdf_stylesheet_link_tag "participants/pdf_style"
= wicked_pdf_stylesheet_link_tag "participants/uniform"
= wicked_pdf_stylesheet_link_tag "participants/style_behaviours"
= wicked_pdf_javascript_include_tag "participants/jquery-1.11.0.min"
= wicked_pdf_javascript_include_tag "participants/jquery.uniform"
= wicked_pdf_javascript_include_tag "participants/custom"
= wicked_pdf_image_tag 'pdf_logo_1.png', class: 'leftalign'
= wicked_pdf_image_tag 'pdf_logo_2.png', class: 'rightalign'