- content_for(:title, 'Drive Notes')
.main-panel
  .note-panel.clearfix
    .notepanel-left
      .notepanelleft
        #noteTabs.clearfix.note-block
          .notetabs-value
            %ul.clearfix
              %li
                %a{:href => "#tabs-1"} Shared
              %li
                %a{:href => "#tabs-2"} My Notes
          .eventtabs-detail
            #tabs-1.notetabs-box
              = render partial: 'shared_notes_list'
            #tabs-2.eventtabs-box
              = render partial: 'my_notes_list'
        .download-notehist
          = link_to 'Download Notes History', export_notes_path(id: current_participant.id, format: :pdf), target: 'blank', class: 'dNotehistory'
    .notepanel-right
      .addnote-view
        = link_to "", javascript_void, 'data-modal' => 'modal-1', class: 'addnote-icon md-trigger'
        .addnote-text
          = image_tag 'images/create-note.jpg'
      #note1.sharemain-panel
        = render partial: 'my_note' if @notes.present?
.overlay{"data-sidebar-overlay" => ""}
= render partial: 'new_note_model_popup'
= javascript_include_tag 'participant/notes'