- content_for(:title, 'Drive Notes')

%section.mainsection
  = render partial: 'participants/components/left_side_bar'
  - if @notes.blank?
    .contentarea
      .pagingrow.notes
        %span.left.countnote= pluralize(@notes.count, 'note')
        %a.right{ href: new_participant_note_path }
          = t('participant.caption.new_note')
          %i.icon-notes
      .activities
        %ul
          %li.notes-custom
            .activitiesinfo
              %h5= t('participant.notes.msg.no_notes_found')
  - else
    .contentarea
      .eventssection
        #about.nano
          .nano-content{style: "right: -13px;", tabindex: "0"}
            .pagingrow.notes
              %span.left.countnote= pluralize(@notes.count, 'note')
              = link_to(new_participant_note_path, class: 'right') do
                = t('participant.caption.new_note')
                %i.icon-notes
            .notes-custom
              %ul
                - last_month = nil
                - @notes.each_with_index do |note, index|
                  %li
                    .notes-left.notes-left-width
                      .notesicon
                        / %a{ href: 'javascript:void(null);' }
                        /   %i.icon-share
                        = link_to participant_note_path(note),  class: "confirmation", title: t('common.caption.delete'), method: :delete, data: { confirm: t('common.msg.confirm')} do
                          %i.icon-delete
                      .notedetails
                        %p.uppercase
                          %span.green AUTHOR:
                          = note_owners_name(note)
                        %h5
                          %span.date= formatted_date(note.updated_at, true)
                          &nbsp;
                          %span.time= formatted_time_with_timezone(note.updated_at)
                          %span.eventname= raw sanitize(simple_format(note.content), :tags => %w(br p) )
                        %br
                        %p.uppercase
                          %span.green TAGS:
                          = formatted_tags(note.tags.behaviour_tags)
                        %p.uppercase
                          %span.green SHARED WITH:
                          = formatted_tags(note.tags.participants_tags)
          .monthright.monthright-custom
            - @notes.each_with_index do |note, index|
              - if index == 0
                = link_to(t('participant.caption.present'))
                - last_month = note_creation_month(note)
              - else
                - month = note_creation_month(note)
                - if last_month != month
                  - last_month = month
                  = link_to last_month
        %br/
        %a{ href: '#', target: 'blank', 'data-popup' => 'true', 'data-url' => "#{export_notes_path(id: current_participant.id, format: :pdf)}"}
          %i.icon-downloadnote
          %div{style: "float: right; margin-right: 189px; padding-top: 7px;"} DOWNLOAD NOTES HISTORY

  = render partial: 'participants/components/right_side_bar'

- if @note && @points_earned.present? && @points_earned > 0
  #new-note-dialog-box
    %span#new-note-msg
      Well done, you have received
      = @points_earned
      points for the Leadership Behaviours (
      = formatted_tags_with_and(@note.tags.behaviour_tags)
      ) that you have tagged with this note.

