!!!
%html
  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    = wicked_pdf_stylesheet_link_tag "participants/pdf_style"
  %body
    .container
      %header
      .content.CB.top-space
        .mainTitle= current_participant.first_name
        %p
          You have
          = @notes.count
          note/notes stored on Drive and have completed 
          = @activities_completed.count
          of
          = @total_activities.count
          activities.
        %h3 YOUR FIT PLAN SUMMARY
        %p
          = current_participant.performance_summary
        .mainTitle YOUR NOTES ARCHIVE
        %p 
          Exported on:
          = date_time_formatter(Time.now)
        - if @notes.present?
          = render partial: 'participant/notes/pfd_notes.html.haml'
        - else
          %h4= t('participant.notes.pdf.msg.no_notes_found')