!!!
%html
  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
  %body
    #wrap
      %header
      %main{role: 'main'}
        .main-container
          .main-container-inner
            .main-content
              .page-content
                %h2.text-center
                  %b= t('participant.notes.pdf.notes')
                .spacer15
                - if @notes.present?
                  = render partial: 'participant/notes/pfd_notes.html.haml'
                - else
                  %h4= t('participant.notes.pdf.msg.no_notes_found')
                .spacer15
                %h2.text-center
                  %b= t('participant.activities.pdf.activities_completed')
                - if @activities_completed.present?
                  = render partial: 'participant/notes/pdf_activities_completed.html.haml'
                - else
                  %h4= t('participant.activities.msg.no_activities_found')
                .spacer15
                %h2.text-center
                  %b= t('participant.nav_bar.network').titleize
                - if @participants.present?
                  = render partial: 'participant/notes/pdf_networks.html.haml'
                - else
                  %h4= t('participant.networks.msg.no_networks_found')
