!!!
%html
  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    = wicked_pdf_stylesheet_link_tag "participant/pdf_style"
    = wicked_pdf_javascript_include_tag "participant/jquery-2.1.1.min"
    = wicked_pdf_javascript_include_tag "participant/jquery.circliful.min"   
  %body
    .container
      %header
      .content.CB
        .mainTitle= current_participant.full_name.titleize
        %p
          You have
          = @notes.count
          - if @notes.count > 1
            notes stored on Drive and have completed
          - else
            note stored on Drive and have completed
          = current_participant.completed_activities.count
          of
          = @total_activities.count
          activities.
        %h3 LEADERSHIP BEHAVIOURS
        %p
          %ul.summery-hit
            %li
              %span.youf
              = t('participant.dashboard.caption.fit_plan_summary_you')
            %li
              %span.performer
              = t('participant.dashboard.caption.fit_plan_summary_top_performer')
        .activitysummary
        = render partial: 'participant/home/fit_plan_summary_behaviours'
        .plansummary
          .plansummery-list
            %ul
              - current_participant.scores.behaviour_scores.each do |score|
                %li
                  .progress-bar.progress-you{:style => "width:#{score.percentile_score}%;"}
                  .progress-bar.progress-performer{:style => "width:#{score.percentile_difference_with_top_score}%;"}
        %div{style: 'height:225px;'}
        %h3 YOUR FIT PLAN SUMMARY
        %p
          = current_participant.performance_summary.capitalize
        .mainTitle YOUR NOTES ARCHIVE
        %p
          Exported on:
          = date_formatter(Time.now)
        - if @notes.present?
          = render partial: 'participant/notes/pfd_notes.html.haml'
        - else
          %h4= t('participant.notes.pdf.msg.no_notes_found')

:javascript
  $(document).ready(function(){
    $('#myStathalf2').circliful();
    $('.recentnote-slide').bxSlider({
      auto: true,
      controls:false
    });
  });