!!!
%html
  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    = wicked_pdf_stylesheet_link_tag "participants/pdf_style"
    = wicked_pdf_stylesheet_link_tag "participants/uniform"
    = wicked_pdf_stylesheet_link_tag "participants/style_behaviours"
    = wicked_pdf_javascript_include_tag "participants/jquery-1.11.0.min"
    = wicked_pdf_javascript_include_tag "participants/jquery.uniform"
    = wicked_pdf_javascript_include_tag "participants/custom"
  %body
    .container
      %header
      .content.CB
        .mainTitle= current_participant.full_name.titleize
        %p
          You have
          = @notes.count
          - if @notes.count > 1
            notes stored on Drive and have completed
          - else
            note stored on Drive and have completed
          = current_participant.completed_activities.count
          of
          = @total_activities.count
          activities.
        .contentarea
          %h3 LEADERSHIP BEHAVIOURS
          = render partial: 'participant/home/leadership_behaviours.html.haml'
          = render partial: 'participant/home/behaviour_scores.html.haml'
        %div{style: 'height:300px;'}
        %h3 YOUR FIT PLAN SUMMARY
        %p
          = current_participant.performance_summary.capitalize
        .mainTitle YOUR NOTES ARCHIVE
        %p
          Exported on:
          = date_formatter(Time.now)
        - if @notes.present?
          = render partial: 'participant/notes/pfd_notes.html.haml'
        - else
          %h4= t('participant.notes.pdf.msg.no_notes_found')