#modal-1.md-modal.md-effect-5
  .md-content.dashboardpopup-panel
    %h3= t('participant.dashboard.caption.fit_plan_performance_summary')
    %p= t('participant.dashboard.caption.fit_plan_performance_summary_paragraph_1')
    %p= t('participant.dashboard.caption.fit_plan_performance_summary_paragraph_2') 
    %p.question-con
      = t('participant.dashboard.caption.fit_plan_performance_summary_paragraph_3')
      %span
        = mail_to Settings.mail.default_url_options.contact_email, "#{Settings.mail.default_url_options.contact_email}"
    %button.md-close Close