.recentnote
  %h3
    = t('participant.dashboard.caption.recent_notes')
    %span= "(#{@notes.count})"
  - if @notes.present?
    .recentnote-panel
      %ul.recentnote-slide
        - @notes.each_with_index do |note, index|
          %li.recentnote-box.clearfix
            .recent-profile
              - if note.owner.photo.exists?
                = image_tag note.owner.photo.url(:profile)
              - else
                = image_tag "avtar-photo1.png"
            %h4= note_owners_name(note)
            %p= raw sanitize(simple_format(truncate(note.content, length: 80)))
            .viewallnote
              = link_to t('participant.dashboard.caption.view_notes'), participant_notes_path, class: 'btn viewallnote-btn rippler rippler-inverse'