- content_for(:title, 'Drive Edit')
- label_class = 'notification-text'
= form_for Participant.new, url: update_profile_path(current_participant), html: { multipart: true } do |f|
  .profile-panel.clearfix
    .profileedit-img
      .profileeditimg
        = image_tag(current_participant.photo.url(:profile), id: 'preview_participant_photo')
      = link_to t('participant.edit_profile.captions.edit_photo_link'), javascript_void, id: "edit_profile_pic"
      #div1{:style => "display: none"}
        = file_field_tag 'participants[photo]', id: 'participant_photo_upload'
    .profile-textform
      %h2= current_participant.name
      %p= current_participant.job_title.titleize
      = hidden_field_tag('id', current_participant.id)
      .changepass-form
        .input-field
          = password_field_tag 'password', nil, class: 'input-text'
        .input-field
          = password_field_tag 'participants[password]', nil, class: 'input-text'
        .password-save
          = submit_tag 'save', class: 'save-btn'
    .profile-block
      .note-notification
        %span
          = label_tag(:notes_notification, t('participant.edit_profile.captions.lbl_block_notes'), class: label_class)
        #remember.notifications
          = check_box_tag 'participants[notes_notification]', current_participant.notes_notification, current_participant.notes_notification
      .file-notification
        %span
          = label_tag(:files_notification, t('participant.edit_profile.captions.lbl_block_files'), class: label_class)
        #remember2.notifications2
          = check_box_tag 'participants[files_notification]', current_participant.files_notification, current_participant.files_notification
      .network-notification
        %span
          = label_tag(:network_notification, t('participant.edit_profile.captions.lbl_block_network'), class: label_class)
        #remember3.notifications3
          = check_box_tag 'participants[network_notification]', current_participant.network_notification, current_participant.network_notification

:javascript
  $(document).ready(function(){
    $('#remember input, #remember2 input, #remember3 input').switchButton({
      show_labels: false,
      width: 30,    
          height: 10,   
          button_width: 15
    });
    $('#edit_profile_pic').on( "click", function() {
      $('#participant_photo_upload').trigger( "click" );
    });
  });