= form_for Participant.new, url: update_profile_path(current_participant), html: {:class => "participantForm", multipart: true } do |f|
  = hidden_field_tag('id', current_participant.id)
  %section.mainsection
    = render partial: 'participants/components/left_side_bar'
    .contentarea
      %div{style: 'margin-left: 100px;'}
        .activities
          %ul
            - @participant.errors.full_messages.each do |msg|
              %li.notes-custom
                .mynetworkdetails
                  %h5.text-center{style: 'color: rgb(199, 218, 44); font-size: 13px; margin-top: 0px; margin-left: 11px;'}
                    = msg.html_safe
        .editprofile
          %p{style: 'color: rgb(199, 218, 44); padding-bottom: 0px !important;'}= current_participant.full_name
          %p{style: 'color: #F9FAFA; padding-bottom: 0px !important;'}= current_participant.job_title
          %p{style: 'color: #F9FAFA; padding-bottom: 0px !important;'}= get_division_name(current_participant.division)
          %br/
          %span.checkbox
            / = hidden_field_tag 'participants[notes_notification]', ''
            / = hidden_field_tag 'participants[files_notification]', ''
            = check_box_tag 'participants[notes_notification]', current_participant.notes_notification, current_participant.notes_notification
            /= check_box 'participants', 'notes_notification', {}, current_participant.notes_notification, current_participant.notes_notification
            = label_tag(:notes_notification, "Block notes notification")
            %br/
            = check_box_tag 'participants[files_notification]', current_participant.files_notification, current_participant.files_notification
            = label_tag(:files_notification, "Block files notification")
            %br/
            = check_box_tag 'participants[network_notification]', current_participant.network_notification, current_participant.network_notification
            = label_tag(:network_notification, "Block network notification")
          .changespassword
            %p{style: 'color: rgb(199, 218, 44);'} Create new password
            %p{style: 'width:200px;'}
              = password_field_tag 'password'
            %p{style: 'color: rgb(199, 218, 44);'} Confirm new password
            %p{style: 'width:200px;'}
              = password_field_tag 'participants[password]'
          %p.submit
            = link_to_submit do
              %i.icon-submit{style: 'background-position: -750px 0; font-size: 1.4em;'}
              %span.logintext{style: 'vertical-align: middle; margin-top: 0px; padding-top: 7px; font-size: 11px;'} Submit
            = submit_tag(" ")
    = render partial: 'participants/components/edit_profile_right_bar'