- content_for(:title, 'Drive Home')
- total_activities = Activity.count
- activity_summary = activity_summary(completed_activities, total_activities)
.main-panel
  .deshboard-panel
    .deshboardsummery-panel.clearfix
      .activitysummary
        %h3= t('participant.dashboard.caption.activity_summary')
        .activityprogress
          #myStathalf2.progress-main{"data-bgcolor" => "#d3d3d3", "data-fgcolor" => "#cddc39", "data-fontsize" => "28", "data-icon" => "fa-task", "data-info" => "ACTIVITIES", "data-percent" => "#{activity_summary}", "data-text" => "#{completed_activities}/#{total_activities}", "data-width" => "14"}
          .vieactivity
            = link_to t('participant.dashboard.caption.view_activities'), participant_activities_path, class: 'btn vieactivity-btn rippler rippler-inverse'
        = render partial: 'fit_plan_summary_behaviours'
      .plansummary
        %h3
          = t('participant.dashboard.caption.fit_plan_summary')
          = link_to("#{javascript_void}", 'data-modal' => 'modal-1', class: 'md-trigger') do
            %i.mdi-action-info-outline
        %ul.summery-hit
          %li
            %span.youf
            = t('participant.dashboard.caption.fit_plan_summary_you')
          %li
            %span.performer
            = t('participant.dashboard.caption.fit_plan_summary_top_performer')
        = render partial: 'behaviour_scores'
    .deshboardyour-panel
      .row
        .deshboardyour-left
          = render partial: 'participant_recent_notes'
          = render partial: 'upcoming_event'
        = render partial: 'your_network_list'
    .overlay{"data-sidebar-overlay" => ""}
    = render partial: 'fit_plan_performance_summary_popup'
:javascript
  $(document).ready(function(){
    $('#myStathalf2').circliful();
    $('.recentnote-slide').bxSlider({
      auto: true,
      controls:false
    });
    model_popup();
  });