- mail_to = mail_to Settings.mail.default_url_options.contact_email, nil,traget: '_blank'
%section.mainsection
  = render partial: 'participants/components/left_side_bar'
  .contentarea
    .welcomerow
      %h3= t('participant.headings.welcome', name: current_participant.first_name)
      %p This is your DRIVE dashboard. At a glance you can access all areas of the application, see your fit plan performance summary and behaviours, and track your use of the DRIVE activities. If you have any questions please contact #{mail_to}.
    .welcomeboxrow
      .welcomeboxrowleft
        .boxbg.smallbox
          %p.number= current_participant_notes_count
          %p= t('participant.caption.notes')
          %p.view
            = link_to(t('participant.dashboard.caption.view'), participant_notes_path)
        .boxbg.smallbox
          %p.number
            = completed_activities
            %span><= "/#{Activity.count}"
          %p activities
          %p.view
            = link_to(t('participant.dashboard.caption.view'), participant_activities_path)
        = render partial: 'leadership_behaviours'
      .welcomeboxrowright
        .boxbg.mediumbox
          %h4 Fit Plan Performance Summary
          .break-long-url
            %p= current_participant.performance_summary
    = render partial: 'behaviour_scores'
  = render partial: 'participants/components/right_side_bar'