.panel-heading
  .row
    .col-md-6.col-xs-6
      %h3
        %strong.dark-blue= title
    .col-md-6.col-xs-6
      = link_to 'Create New', new_path, class: 'btn dark-blue-btn panel-btn pull-right'
.panel-box
  - if collections.blank?
    %strong= t('common.panel.msg.collection_empty', collection_type: title)
  - else
    - collections.each_with_index do |obj, index|
      .row
        .col-md-8
          = obj.send(title_method)
        .col-md-4.text-right.light-blue
          - if show_path
            = link_to t('common.caption.view'), self.try(show_path, obj)
            \/
          = link_to t('common.caption.edit'), self.send(edit_path, obj)
      .row
        .col-md-12.light-blue
          = obj.send(subtitle_method)
        - unless collections.count == index+1
          - # Vertical space after each object except the last one
          .spacer30
          .spacer5
