.main-panel.home-page
  .welcome-text
    %h2
      = t('participant.login_in.captions.text_welcome_to')
      = succeed t('participant.login_in.captions.text_drive') do
        %span= t('participant.login_in.captions.text_arriva')
    %p= t('participant.login_in.captions.text_paragraph')
    = form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "login-form"}) do |f|
      .input-field
        = f.email_field :email, class: "input-text user-name", placeholder: t('participant.login_in.captions.username')
      .input-field
        = f.password_field :password, class: "input-text password", placeholder: t('participant.login_in.captions.password')
      .input-btn
        = f.submit t('participant.login_in.captions.button.log_in'), class: "login-btn rippler rippler-inverse"
      .rememberme.clearfix
        %label= t('participant.login_in.captions.remember_me')
        #remember.rememberbtn
          = check_box_tag "participant['remember_me']"
  = render partial: 'layouts/footer'

:javascript
  $(function() {
    $('#remember input').switchButton({
      show_labels: false,
      width: 60,    
      height: 28,   
      button_width: 24
    });
  });