%section.mainsection
  .loginpage
    .loginwelcome
      %h1 WELCOME
      %p
        Welcome to DRIVE, your online tool to support you through the programme. Whether you’re on a tablet or desktop, you can take part in learning activities, make notes and share experiences. It all starts when you login…
      %p
        %br/
        Need help? Contact
        = mail_to 'support@drivedb.net', 'support@drivedb.net'
      .watchvideorow
        %a#youtube{:href => Settings.defaults.participant_home_screen_video, :title => "Youtube Video"}
          %i.icon-watchvideo
          .btnwatchvideo
            where future leaders learn to lead
            %br
              %span watch video
    .loginsection
      .loginbox
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          %p
            = f.email_field :email, autofocus: true, placeholde: 'Email'
          %p
            = f.password_field :password, autocomplete: "off", placeholde: 'Password'
          %p
            = link_to_submit do
              %i.icon-login
              %span.logintext LOGIN
            = submit_tag(" ")
          - if devise_mapping.rememberable?
            %p
              %span.remember
                REMEMBER ME
                = f.check_box :remember_me
      .clearfix
      .arriva
        - if browser.ios?
          = image_tag 'images/logo-arriva@2x.png', height: '39'
        - else
          = image_tag 'images/logo-arriva.png', height: '39'
