%section.mainsection
  .loginpage
    .loginwelcome
      %h1 WELCOME
      %p
        %span Arriva’s vision is to be recognised as the leading transport services organisation in Europe.
        To do this enditae autem ipsam velliqu odigent quatur molesti ullupta tenemol essimus ellesto inum volupieni audaecae. Atem volut ut arum estrum is re del exerum consecus, nim rem quis numquatum voluptam qui di as et ex endel ipidebitia dolendunt officia sum fugit magnimporum quisquae endendebis alique eles autae quiaeped et, to bla qui.
      .watchvideorow
        %a#youtube{:href => Settings.defaults.participant_home_screen_video, :title => "Youtube Video"}
          %i.icon-watchvideo
          .btnwatchvideo
            where future leaders learn to lead
            %br
              %span watch video
    .loginsection
      .loginbox
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          %p
            = f.email_field :email, autofocus: true, placeholde: 'Email'
          %p
            = f.password_field :password, autocomplete: "off", placeholde: 'Password'
          %p
            = link_to_submit do
              %i.icon-login
              %span.logintext LOGIN
            = submit_tag(" ")
          - if devise_mapping.rememberable?
            %p
              %span.remember
                REMEMBER ME
                = f.check_box :remember_me
      .clearfix
      .arriva
        - if browser.ios?
          = image_tag 'images/logo-arriva@2x.png', height: '39'
        - else
          = image_tag 'images/logo-arriva.png', height: '39'
