- @attachments.each_with_object(0) do |attachment, index|
  .md-modal.md-effect-5{id: "modal-#{attachment.id}"}
    .md-content.notepopup-panel
      .eventpopup-title
        %h3= attachment.attachment_file_name
      .notepopup-list
        = form_tag(participant_attachments_path, method: :post, id: 'newNoteForm', multipart: true) do
          .tagsameone
            .inputnote-number 1
            .tagsameone-title
              %h3.accord-toggle.custom-toggle
                Would you like to
                %span tag someone
                in your network?
              .tagsameone-detail.accord-div{id: "div2#{attachment.id}"}
                .accord-carousel{id: "accord2#{attachment.id}"}
                  %ul.owl-carousel.mulcaro.custom-carousel{id: "owl2#{attachment.id}"}
                    - @tagged_participant = find_tagged_participants(attachment)
                    - @current_participant_networks.each do |participant|
                      %li.item
                        = check_box_tag "participant_attachments[participant_ids][]", participant.id, @tagged_participant.include?(participant.id), id: "participant_attachments_#{attachment.id}_#{participant.id}"
                        %label.checkboxbtn{:for => "participant_attachments_#{attachment.id}_#{participant.id}"}
                          .network-img
                            - if participant.photo.exists?
                              = image_tag(participant.photo.url(:thumb))
                            - else
                              = image_tag "avtar-photo1.png"
                          %h4= participant.full_name.titleize
                          %p= participant.job_title.titleize
                        = hidden_field_tag "participant_attachments[id]",attachment.id
          .notepopup-footer.clearfix
            %p People you have tagged will be automatically notified
            .notesend-btn
              = link_to_submit("Send", participant_attachments_path, class: 'right')
      %button.md-close Close