%section.mainsection
  = render partial: 'participants/components/left_side_bar'
  #attachment_content
    = form_tag(participant_attachments_path, multipart: true) do
      = hidden_field_tag('participant_attachments[participant_id]', current_participant.id)
      .contentarea
        %div{style: 'margin-left: 100px;'}
          .editprofile
            %p{style: 'color: rgb(199, 218, 44); padding-bottom: 0px !important;'}
              = link_to t('participant.caption.choose_file')
              = file_field_tag 'participant_attachments[attachment]'
            .spacer5
            %p.submit
              = link_to_submit do
                %i.icon-submit{style: 'background-position: -750px 0; font-size: 1.4em;'}
                %span.logintext{style: 'vertical-align: middle; margin-top: 0px; padding-top: 7px; font-size: 11px;'} Submit
              = submit_tag(" ")
    = render partial: 'participant/participant_attachments/attachments'
  = render partial: 'participants/components/right_side_bar'