.main-panel
  .file-panel.clearfix
    .filepanel-right
      .addnote-view
        = link_to("", javascript_void, 'data-modal' => "modal", class: 'addnote-icon md-trigger') 
        .addnote-text
          = image_tag 'images/add-newfile.jpg'
      #filepaneltab.filepanel-tab
        .filepaneltab-value
          %ul.clearfix
            %li
              %a{:href => "#tabs-1"} My File
            %li
              %a{:href => "#tabs-2"} Shared Files
        .filepaneltab-detail
          #tabs-1.filepaneltab-box
            %h3
              My Files
              %span= "(#{@attachments.size-count_shared_attachments(@attachments)})"
            = render partial: 'attachments'
          #tabs-2.filepaneltab-box
            %h3
              Shared Files
              %span= "(#{count_shared_attachments(@attachments)})"
            = render partial: 'shared_attachments'
.overlay{"data-sidebar-overlay" => ""}
= render partial: 'activities_model_popup_new_attachment'
= render partial: 'activities_model_popup_share_attachments'
= javascript_include_tag 'participant/files'