%ul
  - @networks.each do |network|
    %li
      .profilepic
        = image_tag(network.participant.photo.url(:thumb), class: 'participant_img')
      .mynetworkdetails
        %h5= network.participant.full_name
        %p= t('participant.networks.caption.level', level: deside_level(network.participant))
        %p= network.participant.job_title
        %p= get_division_name(network.participant.division)
.pagingrow
  = link_to('javascript:void(0);', class: 'view_all_participants', title: t('participant.networks.caption.view_all_participants')) do
    %i.icon-info
    = t('participant.networks.caption.view_all_participants')

:javascript
  $(document).ready(function() {
    $("#view_all_participants, .view_all_participants").on("click", function () {
      $.ajax({
        url: "/participants/all_participants?view_all=true",
        dataType: "script"
      });
    });

  });
