- participant_ids = current_participant.networks.pluck(:participant_id)
%h3
  All Participants
  %span= "(#{@participants.size})"

#content-5.participantsrow.horizontal-images.light.content
  %ul.participantslist.clearfix
    - if @participants.present?
      - @participants.each_with_object(0) do |participant, index|
        - span_text_follow_unfollow = participant_ids.include?(participant.id) ? t('participant.networks.caption.unfollow') : t('participant.networks.caption.follow')
        - if participant_ids.include?(participant.id)
          %li.active
            %input{:name => "", :type => "checkbox", :value => "", id: "participants#{participant.id}"}
            %label.checkboxbtn{:for => "participants#{participant.id}"}
              #c.network-img
                = image_tag(participant.photo.url(:thumb), class: 'participant_img')
              %h4= participant.full_name.titleize
              %p= participant.job_title.titleize
              %p.unfollow
                %i.mdi-navigation-check
                %span= span_text_follow_unfollow
        - else
          = link_to(action: :add_to_network, participant_id: participant.id, remote: true) do
            %li{id: "participants#{participant.id}"}
              %input{:name => "", :type => "checkbox", :value => "", id: "participants#{participant.id}"}
              %label.checkboxbtn{:for => "participants#{participant.id}"}
                #c.network-img
                  = image_tag(participant.photo.url(:thumb), class: 'participant_img')
                %h4= participant.full_name.titleize
                %p= participant.job_title.titleize
                %p.follow
                  %i.mdi-navigation-check
                  %span= span_text_follow_unfollow
    - else
      .activityrow.participantsrow
        .activityblock
          .activitytitle
            %h5 No Network Found
            
= javascript_include_tag "participant/networks"