%ul
  - participant_ids = current_participant.networks.pluck(:participant_id)
  - @participants.each do |participant|
    %li
      .profilepic
        = image_tag(participant.photo.url(:thumb), class: 'participant_img')
      .mynetworkdetails
        %h5= participant.full_name
        %p= t('participant.networks.caption.level', level: deside_level(participant))
        %p= participant.job_title
        %p= get_division_name(participant.division)
      - if participant_ids.exclude?(participant.id)
        = link_to('javascript:void(0);', value: participant.id, id: 'add_to_network', class: 'noteslinks', title: t('participant.networks.caption.add_to_my_network')) do
          %i.icon-save
- if params[:alpha_character]
  .pagingrow
    = link_to('javascript:void(0);', class: 'view_all_participants') do
      %i.icon-info
      = t('networks.caption.view_all_participants')

:javascript
  $(document).ready(function() {
     $("a[id='add_to_network']").on("click", function (e) {
     e.preventDefault();
      $.ajax({
        url: "/participants/add_to_network?participant_id=" + $(this).attr( "value" ),
        dataType: "script"
      });
    });

    $(".view_all_participants").on("click", function () {
      $.ajax({
        url: "/participants/all_participants?view_all=true",
        dataType: "script"
      });
    });
  });