.scrollbar-div-123
  .row
    - if @activities.present?
      - count = 0
      - @activities.each_with_object(0) do |activity, index|
        .col-lg-4.activityrow-box
          .activityblock
            .activitytitle
              .activities-icon
                = link_to(javascript_void, 'data-modal' => "modal-#{activity.id}", class: 'md-trigger', id: "#{activity.id}") do
                  %i{class: get_activity_icon_class(activity.activity_type)}
              %h3= truncate activity.title
              %p= activity.behaviour.title if activity.behaviour.present?
            %p= truncate activity.description, length: 90
            %p.pointsrow
              %span.points{style:"#{apply_color_for_completed_activities(activity)}"}= "#{activity.total_score_of_participant(current_participant)} Points"
              = link_to "More info", javascript_void, 'data-modal' => "modal-#{activity.id}", class: 'md-trigger', id: "#{activity.id}"
        - count += 1
        - if count % 3 == 0
          %br/

    - else
      .col-lg-4.activityrow-box
        .activityblock
          .activitytitle
            %h5 No Activities Found

:javascript
  $(document).ready(function(){
    $('.md-trigger').on('click', function(){
      var id = $(this).attr('id');
      $.ajax({
        url: '/participants/activities/activity_by_id?id='+id,
        dataType: "script"
      });
    });
  });
