- @activities.each_with_object(0) do |activity, index|
  .md-modal.md-effect-5{id: "modal-#{activity.id}"}
    .md-content.activitipopup-panel
      .activitipopup-title.clearfix
        .activitititle-img
          = image_tag "images/#{get_activity_icon_image(activity.activity_type)}"
        .activitititle-text
          %h3= activity.title
          %p= activity.behaviour.title if activity.behaviour.present?
      .activitipopup-detail.clearfix
        .activitidetail-img
          - if image_present?(activity, 'online_course_image') && image_link_valid?(activity)
            = image_tag activity.online_course_image.url(:original)
          - else
            = image_tag fetch_activity_image_from_scrach(activity)
        .activitidetail-text
          %h4 Information schedule
          %p= activity.description
          - if activity.activity_type == 5 && online_course_activities_for_participant(current_participant.id, activity)
            = link_to t("participant.activities.caption.#{activity.activity_type_verbos}"), activity.link, class: 'btn readpurchase', target: '_blank'
          - else
            = link_to t("participant.activities.caption.#{activity.activity_type_verbos}"), activity.link, class: 'btn readpurchase', target: '_blank'
          %div.spacer5
          / = link_to "Read & Purchase", activity.link, target: '_blank', class: 'btn readpurchase'
      - if activity.activity_type != 5
        .activitiscrore
          .tagsameone-title
            = render partial: 'take_quiz_review', locals: { activity: activity }
      .writereview
        - if current_participant.has_reviewed_this_activity?(activity)
          .writereview-link 
            Write a Review
            %span{style: 'font-style: normal; margin-left: 30%; font-size: 15px ! important; font-weight: normal;'} 
              %b 1 
              Review Submitted
        - else
          %a.md-trigger.writereview-link{"data-modal" => "sub-modal-#{activity.id}", :href => "#"} Write a Review 
      %button.md-close.present-popup-close-btn Close
  .md-modal.md-effect-5.sub-model-div{id: "sub-modal-#{activity.id}"}
    .md-content.activitipopup-panel
      .activitiaccord.writereview-popup
        .writereview
          %h3.writereview-link Write a Review
        = form_tag(create_review_participant_activity_path(activity), method: :post, multipart: true, class: 'writereview-form') do
          .input-field
            = text_area_tag 'review[review_text]', nil, placeholder: t('participant.place_holder.review_text')
          .submit-bottom.clearfix
            %p
              Nedd help? Contact
              %a{:href => "mailto:Support@drivedb.net"} Support@drivedb.net
            = link_to_submit t('common.caption.button.submit'), create_review_participant_activity_path(activity), id: 'btn_new_note', title: t('common.caption.button.submit'), class: 'add-submitbtn', data: {disable_with: "Submitting..."}, style: 'top: "";'
      %button.md-close.new-note-close-btn Close


:javascript
  $(document).ready(function(){
    $('#modal').find('button').on('click',function(){
      $(".accord-toggle").click(function(){
        $(".accord-div").slideUp();
        if($(this).next('.accord-div').is(':visible')){
          $(this).next('.accord-div').slideUp();
          $(this).removeClass("active");
        }
        else{
          $(this).next('.accord-div').slideDown();
          $(this).addClass("active");
        }
      });  
    });

    $('.btn_new_note').on('click', function(){
      $('.new-note-close-btn').click();
    });
  });
