= form_tag(participant_activities_path, remote: true)  do
  - if @activities.present?
    .contentarea
      .activities
        %ul
          - @activities.each do |activity|
            %li
              %i{class: get_activity_icon_class(activity.activity_type)}
              .activitiesinfo
                %h5
                  = link_to(activity.title, participant_activity_path(activity))
                %p.black= activity.behaviour.title if activity.behaviour.present?
                %p= "#{activity.total_score_of_participant(current_participant)} points"
        .pagingrow
          = paginate @activities, exclude: [:first, :last], remote: true
  - else
    = render partial: 'participant/activities/no_activities_found'

:javascript
  $(document).ready(function() {
    var checkedBehaviours = $('input#behaviour:checked')
                       .map(function() { return $(this).val() })
                       .get()
                       .join(",");
    $('.right, .left').on( "click", function(e) {
      e.preventDefault();
      if ($(this).attr("href").split("page").length > 1) {
        var pageNum = $(this).attr("href").match(/page=([0-9]+)/)[1];
      }
      else {
        var pageNum = '1';
      }
      $.ajax({
        url: "/participants/activities?page="+pageNum+"&behaviour_id="+checkedBehaviours,
        dataType: "script"
      });
    });
  });

