- mcq = activity.multiple_choice_question
- if mcq.present?
  = form_tag(answer_question_participant_activity_path(activity), remote: true, multipart: true) do
    - disabled_attr_value = answer_disabled_attr(activity)
    = hidden_field_tag 'activity_id', activity.id
    %ul.scorelist
      - mcq.answers.each do |answer|
        - if answer.answer_text.present?
          %li
            = check_box_tag 'activity[answer]', answer.id, nil, disabled: disabled_attr_value, id: "score#{answer.id}"
            = label_tag "score#{answer.id}", answer.answer_text, class: 'checkboxbtn'
    = link_to_submit "Submit", class: 'scoresubmit md-trigger', 'data-modal' => 'modal'

:javascript
  $(document).ready(function(){
    $('.scorelist').find('input[type=checkbox]:checked').removeAttr('checked')
    $(':checkbox').on('change',function(){
    var th = $(this), name = th.prop('name'); 
      if(th.is(':checked')){
        $(':checkbox[name="'  + name + '"]').not($(this)).prop('checked',false);   
      }
    });
  });