%section.mainsection
  = render partial: 'participants/components/left_side_bar'
  .contentarea
    .writenotes
      .writenotesinfo.boxbg
        = form_tag(create_review_participant_activity_path(@activity), method: :post, id: 'newReviewForm', multipart: true) do
          .commentarea
            = text_area_tag 'review[review_text]', nil, class: 'textarea activity_textarea_scroll', placeholder: t('participant.place_holder.review_text')
          .writeicon
            = link_to participant_activity_path(@activity), title: t('common.caption.back') do
              %i.icon-delete
            = link_to_submit create_review_participant_activity_path(@activity), title: t('common.caption.add'), data: {disable_with: "Submitting..."},class: 'right' do
              %i.icon-save
  = render partial: 'participants/components/right_side_bar'
