%section.mainsection
  = render partial: 'participants/components/left_side_bar'
  .contentarea
    .sustainablesection
      %h4
        %i{class: "#{deside_icon_class(@activity.link)}"}
        = @activity.title
      %ul
        %li.boxbg.participant-box-width.participant-width-fixed
          .leftblock
            %p= @activity.description
            %p
              = link_to(@activity.link, class: 'purchase', target: '_blank') do
                %i{class: "#{deside_icon_class(@activity.link)}"}
                = t('participant.activities.caption.purchase')
          .rightblock
            = image_tag(@activity_image)
        %li.boxbg.participant-box-width
          .leftblock
            %p.reading
              %span after reading...
              %br
                = @mcq.question_text
            %ul.answer.uppercase
              - @mcq.answers .each do |answer|
                %li
                  %label= answer.answer_text
                  %input{:type => "checkbox"}/
          .rightblock &nbsp;
      %h4.writereview
        %a{:href => "#"}
          %i.icon-write>
          write review
      .pagingrow
        %a.right{ href: participant_activities_path }
          BACK to activities
          %i.icon-backtoactivities
  = render partial: 'participants/components/right_side_bar'
