%section.mainsection
  = render partial: 'participants/components/left_side_bar'
  .contentarea
    .sustainablesection
      = link_to(@activity.link, target: '_blank') do
        %h4
          - if @activity.activity_type != 5
            %i{class: "#{deside_icon_class(@activity.link)}"}
          - else
            = image_tag('icon_online_course.png', class: 'resize_online_course_icon')
          = @activity.title
      %ul
        %li.boxbg.participant-box-width.participant-width-fixed
          .leftblock
            %p.break-long-url.activity-text= @activity.description
            %p
              = link_to(@activity.link, class: 'purchase', target: '_blank') do
                - if @activity.activity_type != 5
                  %i{class: "#{deside_icon_class(@activity.link)}"}
                - else
                  = image_tag('icon_online_course.png', class: 'resize_online_course_icon')
                %span.font-size-15.capital-font.padding-top-2= t("participant.activities.caption.#{@activity.activity_type_verbos}")
          .rightblock
            - if @activity.activity_type != 5
              = image_tag @activity_image
            - else
              - if image_present?(@activity, 'online_course_image') && image_link_valid?(@activity)
                = image_tag @activity.online_course_image.url(:thumb), style: " height: 100px;width: 100px;margin-bottom: 15px;"
        - if @activity.activity_type != 5
          %li.boxbg.participant-box-width#activity-answers-list
            - if current_participant.has_answered_this_activity?(@activity)
              = render partial: 'participant/activities/answer'
              %br/
            - else
              = render partial: 'participant/activities/answers_listing'
        - else
          - if participant_online_course_completed(current_participant, @activity)
            %li.boxbg.participant-box-width.participant-width-fixed
              .welcomerow
                %h3= t('participant.headings.activity_instruction_heading')
                %p
                  = t('participant.msg.activity_instruction.instruction_line_1')
                .spacer5
                %p
                  = t('participant.msg.activity_instruction.instruction_line_2')
          - else
            %li.boxbg.participant-box-width.participant-width-fixed
              .welcomerow
                = image_tag('Tick.png', style: "float: right;")
                %h3{style: "padding-bottom:10px;"}= t('participant.headings.completed_activity_instruction_heading')
                %p
                  = t('participant.msg.activity_instruction.instruction_line_3')
                .spacer5
                %p
                  = t('participant.msg.activity_instruction.instruction_line_4')
        - if current_participant.has_reviewed_this_activity?(@activity)
          %li.boxbg.participant-box-width.break-long-url.max-width-360
            .font-size-11
              = current_participant.get_review_text_of_activity(@activity)
      - unless current_participant.has_reviewed_this_activity?(@activity)
        %h4.writereview
          %a{ href: new_review_participant_activity_path(@activity) }
            %i.icon-write>
            write review
      .pagingrow
        %a.right{ href: participant_activities_path }
          BACK to activities
          %i.icon-backtoactivities
  = render partial: 'participants/components/right_side_bar'

#answer-dialog-box
  %span#answer-popup-msg
  