.row
  .col-xs-12.col-md-12
    %h2.dark-blue.pull-left.page-header
      %b= t('admin.participant.page_content.header.new')
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  .row
    .col-xs-4.col-md-4
      %h3.dark-blue
        %b= t('admin.participant.caption.profile')
      .form-group
        %label.common-font-color
          %b= t('admin.participant.caption.first_name')
        .input
          = f.text_field :first_name, class: 'form-control'
      .form-group
        %label.common-font-color
          %b= t('admin.participant.caption.last_name')
        .input
          = f.text_field :last_name, class: 'form-control'
      .form-group
        %label.common-font-color= t('admin.participant.caption.job_title')
        .input
          = f.text_field :job_title, class: 'form-control'
      .form-group
        %label.common-font-color= t('admin.participant.caption.division')
        %div
          = f.radio_button :division, '1'
          = label :division, 'Uk Bus'
          = f.radio_button :division, '2'
          = label :division, 'Uk Trains'
          = f.radio_button :division, '3'
          = label :division, 'Mainland Europe'
      .form-group
        %label.common-font-color= t('admin.participant.caption.year_started')
        .input
          = f.text_field :year_started, class: 'form-control', style: 'width: 28%;'
      .form-group
        %label.common-font-color= t('admin.participant.caption.email')
        .input
          = f.email_field :email, class: 'form-control'
      .form-group
        %label.common-font-color= t('admin.participant.caption.password')
        .input
          = f.password_field :password, class: 'form-control'
      .form-group
        %label.common-font-color= t('admin.participant.caption.photo')
        .spacer5.spacer-width
        %span.btn.btn_sign_in.btn-file
          = t('admin.participant.caption.button.choose_file')
          = f.file_field(:photo)

    .col-xs-1.col-md-1
    .col-xs-4.col-md-4
      %h3.dark-blue
        %b= t('admin.participant.caption.fit_plan_results')
      .col-xs-10.col-md-10
        .row
          %b.common-font-color= t('admin.participant.caption.behaviour')
      .col-xs-2.col-md-2
        %b.common-font-color= t('admin.participant.caption.score')
      - Behaviour.all.each do |behaviour|
        .row
          .col-xs-9.col-md-9
            .common-font-color
              = behaviour.title
          .col-xs-3.col-md-3
            %input.form-control.score-text-box{type: "text"}/
        .spacer5.spacer-width
      .row
        .col-xs-12.col-md-12
          .form-group
            %label.common-font-color
              %b= t('admin.participant.caption.performance_summary')
            = f.text_area(:performance_summary, cols: 48, rows: 8, class: 'input-xlarge')
            %span.pull-right.common-font-color 0/500
    .col-xs-3.col-md-3{style:'position: relative; height: 600px;'}
      = f.submit(t('admin.participant.caption.button.save_participant_only'), class: 'btn btn_sign_in pull_left', style: 'position: absolute; top: 92%; right: 0%; width: 72%;')

      %button.btn.btn_sign_in.pull_left{style: 'position: absolute; top: 98%; right: 0%;'}
        = t('admin.participant.caption.button.save_participant_&_send')