.puttingpeople-box
  .puttingpeoplebox
    %h4= t('participant.values_behaviours.captions.behaviours_content.behaviour_div_6.caption.target')
    %p= t('participant.values_behaviours.captions.behaviours_content.behaviour_div_6.caption.paragraph_1')
    %p= t('participant.values_behaviours.captions.behaviours_content.behaviour_div_6.caption.paragraph_2')
.puttingpeople-box
  .puttingpeoplebox
    %h4= t('participant.values_behaviours.captions.behaviours_content.behaviour_div_7.caption.strategic') 
    %p= t('participant.values_behaviours.captions.behaviours_content.behaviour_div_7.caption.paragraph')
.puttingpeople-box
  .puttingpeoplebox
    %h4= t('participant.values_behaviours.captions.behaviours_content.behaviour_div_5.caption.striving') 
    %p= t('participant.values_behaviours.captions.behaviours_content.behaviour_div_5.caption.paragraph_1')
    %p= t('participant.values_behaviours.captions.behaviours_content.behaviour_div_5.caption.paragraph_2')
.puttingpeople-box
  .puttingpeoplebox
    %h4= t('participant.values_behaviours.captions.behaviours_content.behaviour_div_2.caption.change_management')
    %p= t('participant.values_behaviours.captions.behaviours_content.behaviour_div_2.caption.paragraph_1') 
    %p= t('participant.values_behaviours.captions.behaviours_content.behaviour_div_2.caption.paragraph_2')
.puttingpeople-box
  .puttingpeoplebox
    %h4= t('participant.values_behaviours.captions.behaviours_content.behaviour_div_3.caption.cross_unit') 
    %p= t('participant.values_behaviours.captions.behaviours_content.behaviour_div_3.caption.paragraph')
.puttingpeople-box
  .puttingpeoplebox
    %h4= t('participant.values_behaviours.captions.behaviours_content.behaviour_div_10.caption.corporate_responsibility') 
    %p= t('participant.values_behaviours.captions.behaviours_content.behaviour_div_10.caption.paragraph_1') 
    %p= t('participant.values_behaviours.captions.behaviours_content.behaviour_div_10.caption.paragraph_2')