.puttingpeople-box
  .puttingpeoplebox
    %h4= t('participant.values_behaviours.captions.behaviours_content.behaviour_div_1.caption.customer_orientation')
    %p= t('participant.values_behaviours.captions.behaviours_content.behaviour_div_1.caption.paragraph_1')
    %p= t('participant.values_behaviours.captions.behaviours_content.behaviour_div_1.caption.paragraph_2')
.puttingpeople-box
  .puttingpeoplebox
    %h4= t('participant.values_behaviours.captions.behaviours_content.behaviour_div_2.caption.change_management')
    %p= t('participant.values_behaviours.captions.behaviours_content.behaviour_div_2.caption.paragraph_1') 
    %p= t('participant.values_behaviours.captions.behaviours_content.behaviour_div_2.caption.paragraph_2') 
.puttingpeople-box
  .puttingpeoplebox
    %h4= t('participant.values_behaviours.captions.behaviours_content.behaviour_div_3.caption.cross_unit') 
    %p= t('participant.values_behaviours.captions.behaviours_content.behaviour_div_3.caption.paragraph')
.puttingpeople-box
  .puttingpeoplebox
    %h4= t('participant.values_behaviours.captions.behaviours_content.behaviour_div_4.caption.managing_developing') 
    %p= t('participant.values_behaviours.captions.behaviours_content.behaviour_div_4.caption.paragraph_1') 
    %p= t('participant.values_behaviours.captions.behaviours_content.behaviour_div_4.caption.paragraph_2') 
.puttingpeople-box
  .puttingpeoplebox
    %h4= t('participant.values_behaviours.captions.behaviours_content.behaviour_div_5.caption.striving')
    %p= t('participant.values_behaviours.captions.behaviours_content.behaviour_div_5.caption.paragraph_1') 
    %p= t('participant.values_behaviours.captions.behaviours_content.behaviour_div_5.caption.paragraph_2') 