%section.mainsection
  = render partial: 'participants/components/left_side_bar'
  .contentarea
    .values
      %img#values1.colorbg{:alt => "", :src => "#{asset_path('images/circulcolor1-bg.png')}" , :title => ""}
        %img#values2.colorbg{:alt => "", :src => "#{asset_path('images/circulcolor2-bg.png')}", :title => ""}
          %img#values3.colorbg{:alt => "", :src => "#{asset_path('images/circulcolor3-bg.png')}", :title => ""}
            %img#values4.colorbg{:alt => "", :src => "#{asset_path('images/circulcolor4-bg.png')}", :title => ""}
              %img#values5.colorbg{:alt => "", :src => "#{asset_path('images/circulcolor5-bg.png')}", :title => ""}
                .row
                  #defult1.circulbox.circulcolordefult
                    %a.inline{href: "#modal1"}
                      %span
                        customer orientation
                        %br/
                        +
                    #modal1.hide
                      .modal-header
                        %a.close.inlineclose.inlineclosetopbtn{"data-tooltip" => "Close this ModalBox", type: "button"}
                          %i.icon-cancel
                        %h3 customer orientation
                      .modal-body
                        %p Entails knowing customer expectations and implementing customer-oriented solutions. For executives this also means acting in a manner that has a positive effect on the customer orientation of the employees.
                  #circulcolor1.circulbox.circulcolor1{onclick: "return ShowHide('circulcolor1');"}
                    %span putting people first
                  #defult2.circulbox.circulcolordefult
                    %a.inline{href: "#modal2"}
                      %span
                        change management
                        %br/
                        +
                    #modal2.hide
                      .modal-header
                        %a.close.inlineclose.inlineclosetopbtn{"data-tooltip" => "Close this ModalBox", type: "button"}
                          %i.icon-cancel
                        %h3 change management
                      .modal-body
                        %p Consists of recognising change dynamics and striving for continuous improvement. This includes the ability to effectively convey the need for change and actively include stakeholders.
                .row
                  #defult3.circulbox.circulcolordefult
                    %a.inline{href: "#modal3"}
                      %span
                        target & results focus
                        %br/
                        +
                    #modal3.hide
                      .modal-header
                        %a.close.inlineclose.inlineclosetopbtn{"data-tooltip" => "Close this ModalBox", type: "button"}
                          %i.icon-cancel
                        %h3 target & results focus
                      .modal-body
                        %p Is the endeavour to achieve outstanding results in one’s own area. This also includes setting oneself challenging targets, reviewing these and setting priorities to ensure company success.
                  #circulcolor2.circulbox.circulcolor2{onclick: "return ShowHide('circulcolor2');"}
                    %span delivering outstanding customer service
                  #defult4.circulbox.circulcolordefult
                    %a.inline{href: "#modal4"}
                      %span
                        cross-unit co-operation
                        %br/
                        +
                    #modal4.hide
                      .modal-header
                        %a.close.inlineclose.inlineclosetopbtn{"data-tooltip" => "Close this ModalBox", type: "button"}
                          %i.icon-cancel
                        %h3 cross-unit co-operation
                      .modal-body
                        %p Always striving for solutions-focused collaboration across all stakeholder groups both inside and outside the immediate team and company to constantly optimise business performance.
                    .circulplus
                      .valigncenter
                        %br/
                        +
                .row
                  #defult5.circulbox.circulcolordefult
                    %a.inline{href: "#modal5"}
                      %span
                        strategic focus
                        %br/
                        +
                    #modal5.hide
                      .modal-header
                        %a.close.inlineclose.inlineclosetopbtn{"data-tooltip" => "Close this ModalBox", type: "button"}
                          %i.icon-cancel
                        %h3 strategic focus
                      .modal-body
                        %p Requires the ability to recognise and understand structures and processes in organisations together with internal and external organisational influences, integrating these accordingly into one’s own activities for the benefit of the company.
                  #circulcolor3.circulbox.circulcolor3{onclick: "return ShowHide('circulcolor3');"}
                    %span acting with trust and respect
                  #defult6.circulbox.circulcolordefult
                    %a.inline{href: "#modal6"}
                      %span
                        corporate responsibility
                        %br/
                        +
                    #modal6.hide
                      .modal-header
                        %a.close.inlineclose.inlineclosetopbtn{"data-tooltip" => "Close this ModalBox", type: "button"}
                          %i.icon-cancel
                        %h3 corporate responsibility
                      .modal-body
                        %p Is the willingness to assume responsibility for topics going over and beyond one’s own area, to take decisions for the good of the company and to be aware of the short-term and long-term consequences for oneself and others.
                        %p This means making high demands of the quality of both one’s own actions and the actions of others.
                .row
                  #defult7.circulbox.circulcolordefult
                    %a.inline{href: "#modal7"}
                      %span
                        managing & developing people
                        %br/
                        +
                    #modal7.hide
                      .modal-header
                        %a.close.inlineclose.inlineclosetopbtn{"data-tooltip" => "Close this ModalBox", type: "button"}
                          %i.icon-cancel
                        %h3 managing & developing people
                      .modal-body
                        %p Refers to the ability to create a trusting, appreciative and collaborative working environment and managing conflict constructively to achieve improved staff performance and employee satisfaction. This also includes the ability to identify and develop employee potential.
                  #circulcolor4.circulbox.circulcolor4{onclick: "return ShowHide('circulcolor4');"}
                    %span growing a sustainable business
                  #defult8.circulbox.circulcolordefult
                    %a.inline{href: "#modal8"}
                      %span
                        role model function
                        %br/
                        +
                    #modal8.hide
                      .modal-header
                        %a.close.inlineclose.inlineclosetopbtn{"data-tooltip" => "Close this ModalBox", type: "button"}
                          %i.icon-cancel
                        %h3 role model function
                      .modal-body
                        %p Is the ability and willingness to align one’s own behaviour according to the needs, expectations and priorities of the company on an internal and external level so as to encourage others to do the same. This includes acting as a credible representative of the company.
                .row
                  #defult9.circulbox.circulcolordefult
                    %a.inline{href: "#modal9"}
                      %span
                        striving for innovation
                        %br/
                        +
                    #modal9.hide
                      .modal-header
                        %a.close.inlineclose.inlineclosetopbtn{"data-tooltip" => "Close this ModalBox", type: "button"}
                          %i.icon-cancel
                        %h3 striving for innovation
                      .modal-body
                        %p Entails the capability and will to improve the company’s performance, for example, by developing and testing new processes and products. This also means not being satisfied with the status quo but always looking out for improvements.
                  #circulcolor5.circulbox.circulcolor5{onclick: "return ShowHide('circulcolor5');"}
                    %span delivering successful results
                  #defult10.circulbox.circulcolordefult
                    %a.inline{href: "#modal10"}
                      %span
                        dealing with complexity
                        %br/
                        +
                    #modal10.hide
                      .modal-header
                        %a.close.inlineclose.inlineclosetopbtn{"data-tooltip" => "Close this ModalBox", type: "button"}
                          %i.icon-cancel
                        %h3 dealing with complexity
                      .modal-body
                        %p Refers to the ability to understand the complexity within and across the areas in which he/she works and to take decisions based on both analytical and people-centred approaches.
  = render partial: 'participants/components/right_side_bar'