- content_for(:title, 'Drive Values')
.main-panel
  .behaviours-panel
    #behavioursTabs.clearfix.behaviours-block
      .behaviours-value
        %h3= t('participant.values_behaviours.captions.values')
        %ul
          %li.puttpeople
            = link_to t('participant.values_behaviours.captions.values_left_scroller.tabs-1'), "#tabs-1"
          %li.custservice
            = link_to t('participant.values_behaviours.captions.values_left_scroller.tabs-2'), "#tabs-2"
          %li.trustrespect
            = link_to t('participant.values_behaviours.captions.values_left_scroller.tabs-3'), "#tabs-3"
          %li.sustainable
            = link_to t('participant.values_behaviours.captions.values_left_scroller.tabs-4'), "#tabs-4"
          %li.succeresult
            = link_to t('participant.values_behaviours.captions.values_left_scroller.tabs-5'), "#tabs-5"
      .behaviours-detail
        %h3= t('participant.values_behaviours.captions.behaviours')
        #tabs-1.behaviours-box
          .putting-people.clearfix
            = render partial: 'putting_people_behaviours'
        #tabs-2.behaviours-box
          .delivering-customer.clearfix
            = render partial: 'common_behaviours'
        #tabs-3.behaviours-box
          .delivering-respect.clearfix
            = render partial: 'common_behaviours'
        #tabs-4.behaviours-box
          .delivering-business.clearfix
            = render partial: 'common_behaviours'
        #tabs-5.behaviours-box
          .delivering-results.clearfix
            = render partial: 'common_behaviours'
  .overlay{"data-sidebar-overlay" => ""}

:javascript
  $(document).ready(function()
  {
    $('#myStathalf2').circliful();
    $('.recentnote-slide').bxSlider({
      auto: true,
      controls:false
    });
    $( "#behavioursTabs" ).tabs();
  });