%section.mainsection
  = render partial: 'participants/components/left_side_bar'
  .contentarea
    .values
      %img#values1.colorbg{:alt => "", :src => "#{asset_path('images/circulcolor1-bg.png')}" , :title => ""}
        %img#values2.colorbg{:alt => "", :src => "#{asset_path('images/circulcolor2-bg.png')}", :title => ""}
          %img#values3.colorbg{:alt => "", :src => "#{asset_path('images/circulcolor3-bg.png')}", :title => ""}
            %img#values4.colorbg{:alt => "", :src => "#{asset_path('images/circulcolor4-bg.png')}", :title => ""}
              %img#values5.colorbg{:alt => "", :src => "#{asset_path('images/circulcolor5-bg.png')}", :title => ""}
                .row
                  #defult1.circulbox.circulcolordefult{:onclick => "return ShowChildPopup('customerorientatio  n');"}
                    %a{:href => "#"}
                      %span
                        customer orientation
                        %br
                          +
                    .circulplus
                      .valigncenter
                        Entails knowing customer expectations and implementing customer-oriented solutions. For executives this also means acting in a manner that has a positive effect on the customer orientation of the employees.
                        %br
                          +
                  #circulcolor1.circulbox.circulcolor1{:onclick => "return ShowHide('circulcolor1');"}
                    %span putting people first
                  #defult2.circulbox.circulcolordefult
                    %a{:href => "#"}
                      %span
                        change management
                        %br
                          +
                    .circulplus
                      .valigncenter
                        Consists of recognising change dynamics and striving for continuous improvement. This includes the ability to effectively convey the need for change and actively include stakeholders.
                        %br
                          +
                .row
                  #defult3.circulbox.circulcolordefult
                    %a{:href => "#"}
                      %span
                        target & results focus
                        %br
                          +
                    .circulplus
                      .valigncenter
                        Is the endeavour to achieve outstanding results in one’s own area. This also includes setting oneself challenging targets, reviewing these and setting priorities to ensure company success.
                        %br
                          +
                  #circulcolor2.circulbox.circulcolor2{:onclick => "return ShowHide('circulcolor2');"}
                    %span delivering outstanding customer service
                  #defult4.circulbox.circulcolordefult
                    %a{:href => "#"}
                      %span
                        cross-unit co-operation
                        %br
                          +
                    .circulplus
                      .valigncenter
                        Always striving for solutions-focused collaboration across all stakeholder groups both inside and outside the immediate team and company to constantly optimise business performance.
                        %br
                          +
                .row
                  #defult5.circulbox.circulcolordefult
                    %a{:href => "#"}
                      %span
                        strategic focus
                        %br
                          +
                    .circulplus
                      .valigncenter
                        Requires the ability to recognise and understand structures and processes in organisations together with internal and external organisational influences, integrating these accordingly into one’s own activities for the benefit of the company.
                        %br
                          +
                  #circulcolor3.circulbox.circulcolor3{:onclick => "return ShowHide('circulcolor3');"}
                    %span acting with trust and respect
                  #defult6.circulbox.circulcolordefult
                    %a{:href => "#"}
                      %span
                        corporate responsibility
                        %br
                          +
                    .circulplus
                      .valigncenter
                        Is the willingness to assume responsibility for topics going over and beyond one’s own area, to take decisions for the good of the company and to be aware of the short-term and long-term consequences for oneself and others. This means making high demands of the quality of both one’s own actions and the actions of others.
                        %br
                          +
                .row
                  #defult7.circulbox.circulcolordefult
                    %a{:href => "#"}
                      %span
                        managing & developing people
                        %br
                          +
                    .circulplus
                      .valigncenter
                        Refers to the ability to create a trusting, appreciative and collaborative working environment and managing conflict constructively to achieve improved staff performance and employee satisfaction. This also includes the ability to identify and develop employee potential.
                        %br
                          +
                  #circulcolor4.circulbox.circulcolor4{:onclick => "return ShowHide('circulcolor4');"}
                    %span growing a sustainable business
                  #defult8.circulbox.circulcolordefult
                    %a{:href => "#"}
                      %span
                        role model function
                        %br
                          +
                    .circulplus
                      .valigncenter
                        Is the ability and willingness to align one’s own behaviour according to the needs, expectations and priorities of the company on an internal and external level so as to encourage others to do the same. This includes acting as a credible representative of the company.
                        %br
                          +
                .row
                  #defult9.circulbox.circulcolordefult
                    %a{:href => "#"}
                      %span
                        striving for innovation
                        %br
                          +
                    .circulplus
                      .valigncenter
                        Entails the capability and will to improve the company’s performance, for example, by developing and testing new processes and products. This also means not being satisfied with the status quo but always looking out for improvements.
                        %br
                          +
                  #circulcolor5.circulbox.circulcolor5{:onclick => "return ShowHide('circulcolor5');"}
                    %span delivering successful results
                  #defult10.circulbox.circulcolordefult
                    %a{:href => "#"}
                      %span
                        dealing with complexity
                        %br
                          +
                    .circulplus
                      .valigncenter
                        Refers to the ability to understand the complexity within and across the areas in which he/she works and to take decisions based on both analytical and people-centred approaches.
                        %br
                          +
  = render partial: 'participants/components/right_side_bar'
