- content_for(:title, 'Drive Values')
.main-panel
  .behaviours-panel
    #behavioursTabs.clearfix.behaviours-block
      .behaviours-value
        .behavioursvalue
          %h3= t('participant.values_behaviours.captions.values')
          %ul.behaviourstablist
            %li.puttpeople
              = link_to t('participant.values_behaviours.captions.values_left_scroller.tabs-1'), "#tabs-1", id: 'putting_people_first'
            %li.custservice
              = link_to t('participant.values_behaviours.captions.values_left_scroller.tabs-2'), "#tabs-2"
            %li.trustrespect
              = link_to t('participant.values_behaviours.captions.values_left_scroller.tabs-3'), "#tabs-3"
            %li.sustainable
              = link_to t('participant.values_behaviours.captions.values_left_scroller.tabs-4'), "#tabs-4"
            %li.succeresult
              = link_to t('participant.values_behaviours.captions.values_left_scroller.tabs-5'), "#tabs-5"
      .behaviours-detail
        .behaviourstap-panel
          .behaviourstap-detail
            %span
              = image_tag 'tap-behaviours.png'
              = link_to "OK", "javascript:void(0)", class: 'btn tapbtn'
        %h3 Behaviours
        #tabs-1.behaviours-box{:style => "display:block;"}
          .putting-people.clearfix
            = render partial: 'putting_people_behaviours'
        #tabs-2.behaviours-box
          .delivering-customer.clearfix
            = render partial: 'delivering_outstanding'
        #tabs-3.behaviours-box
          .delivering-respect.clearfix
            = render partial: 'acting_with_trust'
        #tabs-4.behaviours-box
          .delivering-business.clearfix
            = render partial: 'growing_sustainable_business'
        #tabs-5.behaviours-box
          .delivering-results.clearfix
            = render partial: 'delivering_results'
  .overlay{"data-sidebar-overlay" => ""}

:javascript
  $(document).ready(function(){
    $('#myStathalf2').circliful();
    $('.recentnote-slide').bxSlider({
      auto: true,
      controls:false
    });
    $(".tapbtn").click(function(){
      $(".behaviourstap-panel").css("display","none");
    });

    $("#behavioursTabs").tabs();
    $(".ui-tabs-anchor").click(function () {
      $(".behaviourstap-panel").css("display", "none");
    });
  });