= form_tag(decide_activity_form_action(@activity), method: decide_activity_form_method(@activity), class: 'form-horizontal', id: 'activityForm', multipart: true) do
  = render partial: "shared/error_messages", locals: { target: @activity }
  .row
    - # Left Panel (Behaviours)
    .col-xs-12.col-md-4
      .panel-padding
        %h4
          %strong.dark-blue= t('activity.fields.behaviour')
        = render partial: 'behaviours/forms/radio', locals: { behaviours: @behaviours, radio_btn_name: 'activity[behaviour_id]', activity: @activity }

    - # Middle Panel (Activity attrs)
    .col-xs-12.col-md-4
      .panel-padding
        %h4
          %strong.dark-blue= t('activity.fields.title')
        = text_field_tag 'activity[title]', @activity.title, class: 'form-control'
        .col-md-12.spacer15
        %h4
          %strong.dark-blue= t('activity.fields.link')
        = text_field_tag 'activity[link]', @activity.link, class: 'form-control'
        .col-md-12.spacer15
        %h4
          %strong.dark-blue= t('activity.fields.type')
        = render partial: 'activities/forms/activity_type_radio'
        .spacer10
        %h4
          %strong.dark-blue= t('activity.fields.description')
        = text_area_tag 'activity[description]', @activity.description, rows: 6, class: 'form-control', id: 'activityDescTextField', maxlength: activity_description_length_limit
        .input-field-subtext#activityDescSubText
          #{find_field_length(@activity.description)}/#{activity_description_length_limit}

    - # Right Panel (MCQ and it's answers)
    .col-xs-12.col-md-4
      .panel-padding
        %h4
          %strong.dark-blue= t('activity.fields.multiple_choice_question')
        = render partial: 'multiple_choice_questions/form', locals: { name_prefix: 'activity[multiple_choice_question_attributes]', mcq: @activity.multiple_choice_question }
        .spacer40
        .pull-right
          = submit_tag(t('activity.btn.save'), class: 'btn btn-sm submit-btn dark-blue-btn', title: t('activity.btn.save'))


    .col-md-12.spacer30
