.row.page-header-margin
  .col-xs-12.col-md-12
    %h2.dark-blue.page-header
      %b= @activity.title

  .row
    - # Left Panel (Behaviours)
    .col-xs-12.col-md-4
      .panel-padding
        %h4
          %strong.dark-blue= t('activity.fields.behaviour')
        = render partial: 'behaviours/forms/radio', locals: { behaviours: @behaviours, radio_btn_name: 'activity[behaviour_id]', activity: @activity, disable: true }

    - # Middle Panel (Activity attrs)
    .col-xs-12.col-md-4
      .panel-padding
        %h4
          %strong.dark-blue= t('activity.fields.title')
        = @activity.title
        .col-md-12.spacer15
        %h4
          %strong.dark-blue= t('activity.fields.link')
        .break-long-url
          = @activity.link
        .col-md-12.spacer15
        %h4
          %strong.dark-blue= t('activity.fields.type')
        = render partial: 'activities/forms/activity_type_radio', locals: { disable: true }
        .spacer10
        - if @activity_present_in_conhorts.present?
          %h4
            %strong.dark-blue= t('cohort.common.cohort')
          - @activity_present_in_conhorts.each do |cohort|
            = cohort.name
            .spacer5
        %h4
          %strong.dark-blue= t('activity.fields.description')
        = @activity.description

        .row
          .col-md-12
            %img#previewEventImage
            - if image_present?(@activity, 'online_course_image') && image_link_valid?(@activity)
              %h4
                %strong.dark-blue= 'Uploaded Image'
              = image_tag @activity.online_course_image.url, class: 'image-thumb', id: 'existingEventImage'

    - # Right Panel (MCQ and it's answers)
    .col-xs-12.col-md-4
      .panel-padding
        - if @activity.activity_type != 5 && @activity.multiple_choice_question
          %h4
            %strong.dark-blue= t('activity.fields.multiple_choice_question')
          = render partial: 'multiple_choice_questions/show', locals: { mcq: @activity.multiple_choice_question, disable: true }

  .row
    .col-md-12.spacer40
    .col-xs-12.col-md-12
      .pull-right.event_save_button_margin
        = link_to t('common.caption.back'), admin_dashboard_path,class: 'btn btn-sm submit-btn dark-blue-btn'
    .col-md-12.spacer30
