- if @events.blank?
  .contentarea
    .activities
      %ul
        %li
          .activitiesinfo
            %h5= t('participant.events.msg.no_events_found')
- else
  .contentarea
    .eventssection
      #about.nano
        .nano-content
          .events.events_overflow_scroll
            %ul
              - @events.each do |event|
                %li#events-li-width{class: event_listing_class(event)}
                  .left
                    %h5.uppercase
                      %span.date= event.event_date
                      %span.time 16.23
                      %span.eventname= event.location
                    %p= event.description
                    %p.links
                      %a.left{:href => "#"}
                        %i.icon-notes
                      %a.right{:href => "#"}
                        share
                        %i.icon-share
                  .right= image_tag event.image.url(:medium)
                  - if event.is_completed?
                    .completed completed
          .monthright
            %a.first{:href => "#"} April
            %a.last{:href => "#"} Mar
            %br
      .pagingrow
        = paginate @events, exclude: [:first, :last], remote: true

:javascript
  $(document).ready(function() {
    $('.right, .left').on( "click", function(e) {
      e.preventDefault();
      if ($(this).attr("href").split("page").length > 1) {
        var pageNum = $(this).attr("href").match(/page=([0-9]+)/)[1];
      }
      else {
        var pageNum = '1';
      }
      $.ajax({
        url: "/participants/events?page="+pageNum,
        dataType: "script"
      }).done(function() {
       $(".nano").nanoScroller();
      });
    });
  });
