- if @events.blank?
  .contentarea
    .activities
      %ul
        %li
          .activitiesinfo
            %h5= t('participant.events.msg.no_events_found')
- else
  .contentarea
    .eventssection
      #about.nano
        .nano-content{style: "right: -13px;", tabindex: "0"}
          .events
            %ul
              - @events.each do |event|
                %li#events-li-width{class: event_listing_class(event)}
                  .left
                    = link_to event.link, target: '_blank' do
                      %h5.uppercase
                        %span.date= participant_event_date_formatted(event.event_date)
                        %span.time= participant_event_time_formatted(event.event_time)
                        %span.eventname= "#{event.title}, #{event.location}"
                      .break-long-url
                        %p= event.description
                    %p.links
                      = link_to(calendar_feed_participant_event_path(event,  :format => :ics), title: t('participant.events.caption.calendar_feed')) do
                        %i.icon-notesave
                      / %a.right{href: "#"}
                      /   share
                      /   %i.icon-share
                  .right
                    = image_tag event.image.url(:medium), class: 'event_image_height_width'
                  - if event.is_completed?
                    .completed completed
        .nano-pane
          .nano-slider#nano_slider
      .monthright
        - margin_bottom = @month_arr.size > 6 ? 'margin-bottom: 20px;' : 'margin-bottom: 60px;'
        - @month_arr.each do |month|
          = link_to(month, 'javascript:void(0);', id: 'month', style: "margin-bottom: #{margin_for_months_scroller(@month_arr.size)}px !important;")

      .pagingrow
        = paginate @events, exclude: [:first, :last], remote: true
:javascript
  $(document).ready(function() {
    $('.page-right, .page-left').on( "click", function(e) {
      var URL = $("#paginationNext, #paginationBack").attr('href');
      var month = getURLParameter(URL, 'month');

     e.preventDefault();
      if ($(this).attr("href").split("page").length > 1) {
        var pageNum = $(this).attr("href").match(/page=([0-9]+)/)[1];
      } else { var pageNum = '1'; }

      if(month != null) {
        var event_path = "/participants/get_monthly_events?month="+month+"&page="+pageNum
      }
      else {
        var event_path = "/participants/events?page="+pageNum
      }
      $.ajax({
        url: event_path,
        dataType: "script"
      }).done(function() {
       $('.nano-pane').addClass('nano_slider_display_block');
       $(".nano").nanoScroller();
      });
    });

    $("a[id='month']").on("click", function (e) {
      e.preventDefault();
      if ($(this).attr("href").split("page").length > 1) {
        var pageNum = $(this).attr("href").match(/page=([0-9]+)/)[1];
      } else { var pageNum = '1'; }
      $.ajax({
        url: "/participants/get_monthly_events?month="+$(this).text()+"&page="+pageNum,
        dataType: "script"
      }).done(function() {
       $('.nano-pane').addClass('nano_slider_display_block');
       $(".nano").nanoScroller();
      });
    });
  $('.nano-pane').addClass('nano_slider_display_block');
  $(".nano").nanoScroller();
  });

  function getURLParameter(url, name) {
      return (RegExp(name + '=' + '(.+?)(&|$)').exec(url)||[,null])[1];
  }