- page_name = set_page_name_with_logo(controller_name)
%header.inner-header
  = render partial: 'layouts/participant_left_side_menu' unless action_name == 'edit_profile'
  .header-top
    .clearfix.header-sub
      - if action_name == 'edit_profile'
        .backbtn-panel
          = link_to "", participant_dashboard_path, class: 'back-btn'
      .menu-toggle
        %a#navigation-toggle{"data-sidebar-button" => "", :href => "#"}
          %span.menu-icon
            %span.icon-toggle{"aria-label" => "Toggle Navigation", :role => "button"}
              %span.lines
      .logo
        %span.spanyour= t('participant.header_navigation.text_your')
        %h1
          = link_to((image_tag "logo@2x.png"), participant_dashboard_path)
        %span= page_name
      .header-right
        = image_tag "arriva_logo@2x.png"