!!!
%html
  %head
    %title ArrivaDrive
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
%body.pad-top-50
  .navbar.navbar-inverse.navbar-fixed-top{role: "navigation"}
    .container
      .navbar-header
        %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to determine_root_path do
          .logo-margin-top
            = image_tag('logo1.png')
            %span.logo-span-by by
            = image_tag('logo2.png')
      - if current_admin.present?
        .logo-margin-top
          %ul.nav.navbar-nav.navbar-right
            %li.header_current_admin_text_margin
              = full_name(current_admin.first_name, current_admin.last_name)
            %li
              = link_to t('sign_in.caption.button.log_out'), destroy_admin_session_path, class: 'btn btn_sign_in pull-left btn-xs', method: 'delete'
  .container
    #message-container
      = render partial: "shared/flash_messages"
    = yield