<!doctype html>
/[if IE 7 ] <html lang="en-gb" class="isie ie7 oldie no-js">
/[if IE 8 ] <html lang="en-gb" class="isie ie8 oldie no-js">
/[if IE 9 ] <html lang="en-gb" class="isie ie9 no-js">
/ [if (gt IE 9)|!(IE)]><!
%html.no-js{:lang => "en-gb"}
  / <![endif]
  %head
    %title Welcome to Drive
    %meta{content: "yes", name: "apple-mobile-web-app-capable"}/
    %meta{content: "black", name: "apple-mobile-web-app-status-bar-style"}/
    %meta{content: "Full Screen", name: "apple-mobile-web-app-title"}/
    %meta{content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui", name: "viewport"}/
    = stylesheet_link_tag "participant_assets", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "participant_assets", "data-turbolinks-track" => true
    = csrf_meta_tags
    %meta{:charset => "utf-8"}
      %meta{:content => "", :name => "keywords"}
        %meta{:content => "", :name => "description"}
          %link{:href => "images/favicon.ico", :rel => "shortcut icon"}
            %link{:href => "images/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}
              %link{:href => "images/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}
                %link{:href => "images/apple-touch-icon-144x144.png", :rel => "apple-touch-icon", :sizes => "144x144"}
                  %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-51507575-1', 'drivedb.net');
      ga('send', 'pageview');
  %body
    .mainbg
      = image_tag 'images/mainbg1.jpg'
    .wrapper
      %header
        = link_to((image_tag 'images/logo.png'), participant_dashboard_path)
      = yield
